{% extends "mdlbase.html" %}

{% block up %} 
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

{% endblock %}
{% block title %}All Stars{% endblock %}

{% block content %}

<div class="row">&nbsp;</div>
	<div class="container" >
<form action="/search">
  	{% csrf_token %}
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" id="search" name="search">
      <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
    </div>
  </div>
</form>
	<script>
		var data = [];
	</script>
		{% for p in paginator.page_range %}
		<div class="row">
	               {%  for q in stars %}
	<div class="col-md-4" style="margin-bottom:40px">
<div class="demo-card-wide mdl-card mdl-shadow--2dp"> 
<div class="mdl-card__title">
	<img src="{{q.photo }}" width=100 height=150 ></img>

  </div>
  <div class="mdl-card__supporting-text">
	<h4>
	<script>
	data.push("{{q.name}}");
	</script>
    {{ q.name }}
	</h4>
	<p>
	{{ q.summary }} 
	</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/star/{{q.pk }}">
      Read News
    </a>
  </div>
</div>
</div>
		{% endfor %}
	   <script>
         $(function() {
            var availableTutorials = data;
            $("#search").autocomplete({
               source: availableTutorials,
               autoFocus:true
            });
         });
      </script>

	</div>
		<div class="row text-center">
 	    
	<nav><ul class="pagination">
		{% if p.number == page.number %}
			<li class="active">
		{% else %}
			<li>
	{% endif %}
		<a href="{{ paginator.baseurl }}{{ p.number }}">
		{{ p.number }}</a>
	</li>
	{% endfor %}
	</ul></nav>
	</div>
     </div>
{% endblock %}
