<html>
  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
	<div class="container" >
	<nav><ul class="pagination">
		{% for p in paginator.page_range %}
	               {%  for q in stars %}
		<div class="row">
		<div class="col-md-4">	
		 <a href="/star/{{ q.pk }}">	<img src="{{q.photo }}" alt="{{ q.name }}" width="150" height="170"  class="img-circle"></img>
			</a>
			</div><div class="col-md-8">
				<p  class="lead">{{ q.name }} </p>
			</div>
			</div>
			<br/>
			{% endfor %}
		<div class="row">&nbsp;</div>
		<div class="row">&nbsp;</div>
		<div class="row">&nbsp;</div>
		{% if p.number == page.number %}
			<li class="active">
		{% else %}
			<li>
	{% endif %}
		<a href="{{ paginator.baseurl }}{{ p.number }}">
		{{ p.number }}</a>
	</li>
	{% endfor %}
	</ul></nav>
     </div>
</body>
</html>
